header {
    height: 15vh;
}

main {
    background-image: url('../Assets/Background/Background.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.artists {
    height: auto;
    max-width: 90%;
    margin: 0 auto;
}

.heading {
    -webkit-text-stroke: 5px;
    font-size: clamp(2rem, -5.6336rem + 32.57vw, 10rem);
    color: white;
    text-transform: uppercase;
    height: 19rem;
    line-height: 19rem;
    text-align: center;
    text-shadow: 0 0 50px #000000;
}

.artist {
    max-width: 400px;
    height: auto;
    background: #41434575;
    box-shadow: 0 0 25px #00000075;
    padding: 25px;
    border-radius: 2.5rem;
}

.artist img {
    max-width: 100%;
    border-radius: 2.5rem;
    border: 2px solid white;
    box-shadow: 0 0 50px #00000075;
    background: black;
    margin-bottom: 1em;
    transition: all 0.2s ease-in-out;
}

.artist img:hover {
    filter: grayscale(0.75);
}

.artist-name {
    font-size: clamp(1rem, 0.5146rem + 2.0712vw, 2.95rem);
    color: white;
    font-weight: 600;
    text-align: center;
    text-shadow: 5px 2.5px 2.5px #00000025;
    -webkit-text-stroke: 1px;
}



